:root {
  --Primary-brand-color: #4d5ae5;
  --Pressed-state-color: #404bbf;
  --Dark-color: #2e2f42;
  --Success-color: #31d0aa;
  --Text-color: #434455;
  --Subtle-text-color: #8e8f99;
  --Accent-color: #e7e9fc;
  --Light-color: #f4f4fd;
  --Modal-overlay-color: #2e2f42;
  --Hero-background-color: #2e2f42;
  --Hero-text-color: #ffffff;
  --basic-margin: 120px;
  --second-margin: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.transition {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* :hover,
:focus {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  background-color: var(--Hero-text-color);
  font-family: "Roboto", sans-serif;
  color: var(--Dark-color);
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
}
/* header */

.header {
  border-bottom: 1px solid var(--Accent-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.nav-header {
  display: flex;
  text-align: center;
  justify-content: center;
}

.header-link {
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}

.site-nav {
  display: flex;
}

.logo-first {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: calc(21 / 18);
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--Primary-brand-color);
  margin-right: 76px;
  padding-left: 0;
}

.site-nav > li:not(:last-child) {
  margin-right: 40px;
}

.nav-container {
  display: flex;
}

.logo-header {
  color: var(--Dark-color);
}

.header-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--Dark-color);
  position: relative;
}

.header-link.active::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--Pressed-state-color);
  position: absolute;
  left: 0;
  bottom: -1px;
}

.header-link.active {
  color: var(--Pressed-state-color);
}

.additional-nav ul {
  display: flex;
  margin-left: 332px;
}

.additional-nav ul > li:not(:last-child) {
  margin-right: 40px;
}

.header-contacts {
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--Text-color);
  font-style: normal;
}

.header-nav:hover,
.header-nav:focus {
  color: var(--Pressed-state-color);
}

.header-contacts:hover,
.header-contacts:focus {
  color: var(--Pressed-state-color);
}

/* main page */

/* hero sectoin */
.hero-main {
  /* background-color: var(--Dark-color); */
  padding-bottom: 188px;
  padding-top: 188px;
  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1440px;
}

.hero-hover {
  font-weight: 700;
  font-size: 56px;
  line-height: calc(60 / 56);
  letter-spacing: 0.02em;
  color: var(--Hero-text-color);
  margin-bottom: 48px;
  width: 496px;
  margin-right: auto;
  margin-left: auto;
}

.hero-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--Hero-text-color);
  background: var(--Primary-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 169px;
  height: 56px;
  border: none;
}

.hero-btn:hover,
.hero-btn:focus {
  cursor: pointer;
  background: var(--Pressed-state-color);
}

/*Advantages */
.advantages {
  margin-top: var(--basic-margin);
  margin-bottom: var(--basic-margin);
}

.advantages-icon {
  width: 64px;
  height: 64px;
}

.advantages-icon-box {
  padding-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: var(--Light-color);
  border-radius: 4px;
}

.advantages ul > li {
  width: 264px;
}

.advantages ul > li:not(:last-child) {
  margin-right: var(--second-margin);
}

.advantages ul {
  display: flex;
}

.advantages-hover {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.advantages-text {
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--Text-color);
}
/* What are we doing */
.our-jobs {
  margin-top: var(--basic-margin);
  margin-bottom: var(--basic-margin);
}

.our-jobs ul {
  display: flex;
}

.what-we-do {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  width: 325px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 72px;
}

.our-jobs ul > li:not(:last-child) {
  margin-right: var(--second-margin);
}

/* our team */
.our-team {
  background-color: var(--Light-color);
  margin-top: var(--basic-margin);
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-hero {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 72px;
}

.team-member-list {
  display: flex;
}

.team-member:not(:last-child) {
  margin-right: var(--second-margin);
}

.team-member-descr-list {
  background-color: var(--Hero-text-color);
  text-align: center;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-member-name {
  padding-top: 32px;
  padding-bottom: 8px;
}

.team-member-descr {
  padding-bottom: 8px;
}

.team-member-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-bottom: 32px;
}

.social-media {
  width: 40px;
  height: 40px;
}

.team-member-social {
  color: var(--Hero-text-color);
  background-color: var(--Primary-brand-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.member-social-icon {
  width: 16px;
  height: 16px;
}

.team-member-social:is(:hover, :focus) {
  background-color: var(--Pressed-state-color);
}

/* costumers */
.costumer {
  padding-top: 130px;
  padding-bottom: 120px;
}

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding-bottom: 72px;
}

.customer-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.customer-list-item {
  width: 168px;
  height: 88px;
}

.customer-link {
  border: 1px solid var(--Subtle-text-color);
  color: var(--Subtle-text-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 16px 32px;
}

.customer-icon {
  width: 104px;
  height: 56px;
  fill: currentColor;
}

.customer-link:is(:hover, :focus) {
  border-color: var(--Pressed-state-color);
  color: var(--Pressed-state-color);
}

/* portfolio */

/* portfolio-btn`s */
.our-portfolio {
  padding-top: 96px;
}

.portfolio-btn-list {
  display: flex;
  margin-bottom: 72px;
  justify-content: center;
}

.portfolio-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--Primary-brand-color);
  background-color: var(--Light-color);
  border: 1px solid var(--Accent-color);
  padding: 12px 24px;
  border-radius: 4px;
}

.portfolio-btn-list > li:not(:last-child) {
  margin-right: var(--second-margin);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background: var(--Pressed-state-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: var(--Pressed-state-color);
  color: var(--Hero-text-color);
  cursor: pointer;
}
/* our works */
.our-works {
  margin-bottom: var(--basic-margin);
  display: flex;
  flex-wrap: wrap;
}

.work-item:not(:nth-child(3n)) {
  margin-right: var(--second-margin);
}

.work-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 48px;
}

.work-item:hover,
.work-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.work-rec {
  border: 1px solid var(--Accent-color);
  border-top: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
}

.work-dscr {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-filter {
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--Text-color);
}

.portfolio-top-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-item-overlay {
  background-color: var(--Primary-brand-color);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.work-item:hover .portfolio-item-overlay,
.work-item:focus .portfolio-item-overlay {
  transform: translateY(0%);
}

/* footer */
.footer {
  background-color: var(--Dark-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-list {
  width: 264px;
  height: 110px;
  display: flex;
}

.footer-list-item {
  margin-right: 120px;
}

.logo-foot {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: calc(21 / 18);
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--Primary-brand-color);
  margin-bottom: 16px;
}

.logo-footer {
  color: var(--Light-color);
}

.footer-text {
  color: var(--Accent-color);
  width: 266px;
}

.footer-social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--Hero-text-color);
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-social-media {
  width: 40px;
  height: 40px;
}

.footer-social {
  color: var(--Hero-text-color);
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.footer-social-icon {
  width: 24px;
  height: 24px;
}

.footer-social:is(:hover, :focus) {
  background-color: var(--Success-color);
}

.footer-form-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  padding-right: 40px;
  letter-spacing: 0.04em;
  color: var(--Hero-text-color);
  background: var(--Primary-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 165px;
  height: 40px;
  border: none;
  margin-left: 24px;
  position: relative;
}

.footer-form-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 8px;
  right: 8px;
  transform: translate(-50%);
  fill: currentColor;
}

.modal-close-icon {
  width: 8px;
  height: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: currentColor;
}

.modal-close {
  position: absolute;
  right: 24px;
  top: 24px;
  background: var(--Accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  align-items: center;
  height: 24px;
  width: 24px;
}

.footer-form-btn:is(:hover, :focus) {
  cursor: pointer;
  background: var(--Pressed-state-color);
}

.footer-form-text-span {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--Hero-text-color);
  display: block;
  padding-bottom: 16px;
}

.footer-form-input {
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
width: 264px;
height: 40px;
background-color: var(--Hero-background-color);
outline: transparent;
padding-left: 16px;
color: rgba(255, 255, 255, 0.6);
}

.footer-form-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-form-input::placeholder {
font-size: 12px;
line-height: 24px;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: rgba(255, 255, 255, 0.6);
}

/* Modal */

.backdrop {
  background-color: rgba(46, 47, 66, 0.4);
  position: relative;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  background-color: var(--Hero-text-color);
  width: 408px;
  height: 576px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.overlay-dscr {
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--Light-color);
  margin-top: 40px;
  margin-right: 32px;
  margin-left: 32px;
}

.modal-close-icon {
  width: 8px;
  height: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: currentColor;
}

.modal-close {
  position: absolute;
  right: 24px;
  top: 24px;
  background: var(--Accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  align-items: center;
  height: 24px;
  width: 24px;
}

.modal-close:hover,
.modal-close:focus {
  cursor: pointer;
  background: var(--Pressed-state-color);
  border-color: var(--Pressed-state-color);
  border-radius: 50%;
}

.modal-close:is(:hover, :focus) {
  color: var(--Hero-text-color);
}

.modal-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24/16);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--Hero-background-color);
  padding-top: 72px;
  padding-bottom: 16px;
}

.form-input{
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding-left: 38px;
  outline: transparent;
}

.form-input:is(:hover, :focus) {
  border: 1px solid var(--Primary-brand-color);
  border-radius: 4px;
}

.form-feedback{
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding-left: 38px;
  outline: transparent;
}

.form-feedback:is(:hover, :focus) {
  border: 1px solid var(--Primary-brand-color);
  border-radius: 4px;
}

.form-input:is(:hover, :focus) + .form-icon {
  fill: var();
}

.form-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--Hero-text-color);
  background: var(--Primary-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 169px;
  height: 56px;
  border: none;
}

.form-btn:is(:hover, :focus) {
  cursor: pointer;
  background: var(--Pressed-state-color);
}

.form-text span {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: var(--Subtle-text-color);
  padding-bottom: 4px;
  display: block;
}

.form-feedback::placeholder {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}



.form-group {
  padding-bottom: 8px;
}

.form-control {
  position: relative;
}

.form-icon {
  left: 16px;
  width: 18px;
  height: 24px;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}

.form-feedback {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  height: 120px;
  padding-top: 8px;
  padding-left: 16px;
}

.form-checkbox-text {
  font-size: 12px;
line-height: 16px;
letter-spacing: 0.04em;
color: #757575;
flex: none;
order: 1;
flex-grow: 0;
}

.form-checkbox-group {
  padding-bottom: 24px;
  display: flex;
  justify-content: center;
}

.form-btn-group {
  text-align: center;
}

.form-input:focus {
  border-color: var(--Primary-brand-color);
}

.form-input:focus + .form-icon {
  fill: var(--Primary-brand-color);
}

.form-lable-checkbox {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: #757575;
  flex: none;
  order: 1;
  flex-grow: 0;
  display: flex;
  align-items: center;
}

.form-lable-checkbox::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--Dark-color);
  border-radius: 2px;
  margin-right: 8px;
}

.form-checkbox:checked + .form-lable-checkbox::before {
  background-color: var(--Pressed-state-color);
  border-color: var(--Pressed-state-color);
  background-image: url(../images/vector.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox-policy-link {
  font-size: 12px;
line-height: 16px;
letter-spacing: 0.04em;
color: var(--Primary-brand-color);
flex: none;
order: 1;
flex-grow: 0;
padding-left: 4px;
}